body {
    background: url(pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1, label{
    color: white;
    margin-top: 20px;
    text-shadow: 1px 1px 10px black;
}
.card {
    transform: translateY(50px);
    height: 550px;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 1px 1px 10px black;
}
.price-btn {
    transform: translateY(30px);
    font-weight: bold;
}